#h1 {
	color: #0000FF; 
	text-align: center;
	font-size: 50px;
	
}
#h2 {
	color: #6495ED; 
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}
#p {
	color: #6495ED; 
	text-align: center;
	font-size: 20px;
	font-family: cursive;
	font-style: italic;
	}

h1 {
	color: #6495ED; 
	text-align: center;
	font-size: 25px;
}

h2 {
	color: #6495ED; 
	font-size: 25px;
	font-weight: bold;
}

p{
	color: #6495ED; 
	font-size: 20px;
	font-family: cursive;
	font-style: italic;
}